body{
    position: relative;
    background-color: #8ac1f866;
}
#mean {
    padding: 15px;
    width: 54%;
    display: flex;
    margin: 100px;
    box-shadow: 0px 0px 2px 2px #0000008c;
}
#head-text{
    text-align: center;
    margin: 0 auto;
    color: #00214c;
}
#signup-img {
    width: 50%;
    height: 100%;
    margin-left: 55px;
}
#form {
    position: absolute;
    top: 294px;
    transform: translate(250%, -35%);
    display: flex;
    flex-direction: column;
    margin-left: -55px;
}
#fname{
    background-color: transparent;
    margin-top: 30px;
    border: 0;
    border-bottom: 0.1px solid #000;
    padding-bottom:10px ;
    width: 250px;
}
#lname{
    background-color: transparent;
    margin-top: 25px;
    border: 0;
    border-bottom: 0.1px solid #000;
    padding-bottom:10px ;
    width: 250px;
}
#Email{
    background-color: transparent;
    margin-top: 25px;
    border: 0;
    border-bottom: 0.1px solid #000;
    padding-bottom:10px ;
    width: 250px;
}
#Password{
    background-color: transparent;
    margin-top: 25px;
    border: 0;
    border-bottom: 0.1px solid #000;
    padding-bottom:10px ;
    width: 250px;
}
#ConfirmPassword{
    background-color: transparent;
    margin-top: 25px;
    border: 0;
    border-bottom: 0.1px solid #000;
    padding-bottom:10px ;
    width: 250px;
}
#btn{
    background-color: #8ac1f866;
    margin-top: 35px;
    border: 0;
    padding-bottom:10px ;
    width: 250px;
    border-radius: 5px;
    padding-top: 10px;
}
#btn-a{
    text-decoration: none;
    color: #000;
}
#btn{
    color: #FFF;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #8ac1f8be;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    width: 100%;
    height: 50%;
  }
#btn:hover {
    box-shadow: inset 400px 0 0 0 #8ac1f8be;
}